* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body {
    background: linear-gradient(-40deg,#C0B7B1,#c4b19d,#C69C72,#603722,#61210F);
    color: #FAFFFD;
    font-size: 1.0rem;
    font-weight: bold;
    background-size: cover;
}

header {
    background-color: #603722;
    color: white;
    padding: 0.01em;
    border-radius: 0.5em;
    border-style: inset;
    border-width: 1rem;
    border-color: bisque;
}

a {
    color: azure;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    padding: 1rem;
}

li:hover {
    padding: 1.3rem;
    transition: 0.5s;
    background-color: #815E5B;
    border-radius: 1rem;
}

.listaNavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoCafe {
    padding: 1.3rem;
    width: 12rem;
    height: 8rem;
    border-radius: 0.5rem;
}

.letraGrande {
    font-size: 1.5rem;
}

.subtituloCafe {
    padding: 2rem;
    font-size: 250%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: block;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subtituloInicio{
    padding: 3.2rem;
}

.textoIntroductorio{
    padding: 0.5rem;
}

main {
    padding: 1em;
    text-align: center;
}

.cafesComun {
    width: 40%;
    height: 35%;
    object-fit: cover;
    border-radius: 1rem;
}

.moccaCafe {
    width: 33.76%;
    height: 30%;
    object-fit: cover;
    border-radius: 1rem;
}

.latteCafe {
    width: 46.7%;
    height: 37%;
    object-fit: cover;
    border-radius: 1rem;
}

.capucchinoCafe {
    width: 31.1%;
    height: 29%;
    object-fit: cover;
    border-radius: 1rem;
}

h5 {
    font-size: 2rem;
}

.coffeeDescripcion {
    background-color: white;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}

.botonCompras {
    background-color: #2F4F4F;
    color: white;
    padding: 0.1em 0.3em;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
}

.botonCompras:hover {
    cursor: pointer;
    background-color: #708090;
}

footer {
    background-color: #291F1E;
    color: white;
    text-align: center;
    padding: 1.5em;
    border-radius: 1rem;
}

.footerDerechos {
    display: flex;
    justify-content: center;
}

.capsulasNespresso {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 50%;
}

.subtituloCapsulas{
    padding: 4rem;
    text-decoration: underline;
}

.cardNespresso{
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}

.imagenesMenu{
    height: 20rem;
    width: 22rem;
    border-radius:100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:425px) {

    .logoCafe {
        width: 100%;
        height: auto;
    }

    .listaNavBar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}